@import "../assets/scss/vars";

:host {
  display: block;
  overflow-y: hidden;
}

.playlist-container {
  border-bottom: 1px solid #dadbdc;
  height: inherit;
  position: relative;
  user-select: none;
  pointer-events: inherit;
}

ul {
  cursor: pointer;
  flex: 1 1 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  user-select: none;

  li:last-child {

  border-bottom: none;
  }
}

li {
  align-items: center;
  border-bottom: 1px solid #dadbdc;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
  justify-content: space-between;
  line-height: 1.5;
  padding: 6px 0px;
  pointer-events: none;

  background: $background-color-playlist;
  color: $color-playlist;
  span {
    flex: 0 1 2rem;
  }
}

.selected-song {
  background: $background-color-selected-song;
  color: $color-selected-song;
}

.song {
  flex: 0 1 100%;
  overflow-x: hidden;
  padding-right: 6px;

  p {
    flex: 0 1 100%;
    margin: 0;
    transition: transform 1s .15s ease-in-out;
  }
}

.header {
  white-space: nowrap;
}

.group {
  font-weight: bold;
}

.disc {
  font-style: italic;
}

.title {
  font-size: .85rem;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 4px;

  span {
    display: block;
    white-space: nowrap;
  }
}

.index {
  font-size: .8rem;
  font-weight: bold;
  margin-right: 12px;
  text-align: right;
}

.duration {
  pointer-events: none;
  padding-right: .5rem;
  margin-left: 8px;
}

.scrollbar {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .4s;
  width: 5px;
  pointer-events: inherit;

  &:hover {
    width: 15px;

    .bar-scroll {
      right: 5px;
    }
  }
}

.bar-scroll {
  background: $color-playlist;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: right .4s;
  width: 5px;
}

.expand {
  width: 15px;

  .bar-scroll {
    right: 5px;
  }
}
