<div class="bar-progress"
     (mousemove)="seek($event)"
     (mousedown)="seek($event)"
     (mouseenter)="seek($event)"
     (mouseleave)="seek($event)">

  <div class="progress-song" [style.width.%]="songProgress * 100"></div>

  <div class="progress-tooltip" [class.show-tooltip]="showTooltip" [style.left.px]="tooltipLeft" #tooltip>

    <span>{{ tooltipData * duration | counter }} / {{ duration | counter }}</span>
    <div class="tooltip-arrow" [style.left.px]="arrowLeft"></div>

  </div>
</div>
